/*--------------General Styles----------------*/

body {
    background-color: #ebe6e6;
    font-family: 'Advent Pro', sans-serif;
}

body,
html {
    margin: 0;
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 10px;
}

h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

/*----------------------Navigation----------------*/

nav {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 10px;
    font-size: 1.2em
}

.nav_title {
    margin-right: auto;
}

.nav_link {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 1.2em;
    transition: text-decoration 1s;
}

.nav_link:focus,
.nav_link:hover {
    color: rgb(216, 146, 147);
    text-decoration: underline rgb(216, 146, 147);
}

/*------------------Header-------------------*/

.hero_image {
    background-image: url("../images/heroflower2.jpg");
    height: 90%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
}

.hero_subheading {
    font-size: 1.3em;
}

.hero_heading {
    font-size: 3em;
    background-color: rgba(117, 111, 111, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.hero_btn {
    background-color: rgb(216, 146, 147);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    filter: none;
    font-size: 1.2em;
}

.hero_btn:focus,
.hero_btn:hover {
    background-color: #fff;
    color: rgb(216, 146, 147);
}

/*-------------------Main---------------------*/

main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/*-------------------About-------------------*/

#about {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 1px dashed white;
    padding: 40px;
    margin-bottom: 30px;
}

#about_content {
    display: flex;
    flex-flow: column;
    font-size: 1.5em;
    align-content: left;
    justify-content: center;
    background-color: white;
    width: 40%;
    padding: 70px;
    padding-right: 130px;
    border-radius: 5px;
}

#man-snow_box {
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -130px;
    background: transparent;
}

#man-snow_img {
    border-radius: 100%;
    border: 10px solid white;
    padding: 10px;
}

#about_text {
    margin: 30px;
    line-height: 1.2em;
    margin-right: 100px;
    max-width: 60%;
}

/*------------------Vintage Team-----------------*/

.vintage-team {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
}

#vintage-team_heading {
    padding-bottom: 120px;
    flex: 100%;
}

.vintage-team_card {
    display: flex;
    flex-flow: column wrap;
    transition-duration: 1s;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    padding: 40px;
    margin: 10px;
}

.vintage-team_photo {
    border-radius: 100%;
    max-width: 200px;
    transition: 1s;
}

.vintage-team_name {
    text-transform: uppercase;
    color: rgb(168, 116, 117);
    font-size: 1.3em;
    font-weight: bold;
}

.vintage-team_description {
    max-width: 230px;
    font-size: 1.3em;
    visibility: hidden;
}

/*--------------------------Gallery----------------------*/

.gallery {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 90px;
}

#gallery-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
    width: 70%;
}

.gallery-card {
    margin: 10px;
    position: relative;
}

.gallery-card_image {
    border-radius: 5px;
    max-width: 400px;
}

.overlay {
    font-size: 1.3em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(216, 146, 147);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay p {
    padding: 10px;
    text-align: center;
}

.overlay-title {
    text-transform: uppercase;
    display: block;
    margin: 10px;
    color: #fff;
}

.gallery-cards_overlaybtn {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.gallery-cards_overlaybtn:focus,
.gallery-cards_overlaybtn:hover {
    background-color: #274a6c;
    color: #fff;
}

.gallery-card:hover .overlay {
    width: 50%;
}

/*------------------Contact------------------*/

#contact {
    background-color: #274a6c;
    color: #fff;
    padding: 20px;
    font-size: 1.3em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.contact_heading {
    color: white;
}

#contact-us {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 60%;
}

.contact-input,
textarea,
.contact-submit {
    border: 5px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.contact-submit {
    background-color: rgb(216, 146, 147);
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.1em;
    width: 50%;
    align-self: center;
}

.contact-submit:focus,
.contact-submit:hover {
    background-color: #fff;
    color: rgb(216, 146, 147);
}

/*--------------------Social--------------------*/

#social-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(216, 146, 147);
    padding: 20px;
    padding-top: 20px;
}

.social-link_icon {
    min-width: 30px;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    color: #fff;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

.social-link_icon:focus,
.social-link_icon:hover {
    background-color: #274a6c;
}

/*----------------------Credits-----------------*/

.credits {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fff;
    text-transform: uppercase;
}

.credits p {
    margin-right: 20px;
}

/*-------------------Media Queries---------------*/

@media (max-width: 1049px) {
    .vintage-team {
        flex-flow: row wrap;
        justify-content: center;
    }
    .vintage-team_card {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width:740px) and (orientation: landscape) {
    .hero_subheading {
        display: none;
    }
    .hero_heading {
        font-size: 1.7em;
    }
}

@media (max-width: 620px) {
    #about {
        flex-flow: column wrap;
        justify-items: center;
        margin: 10px;
    }
    #about_content {
        padding: 15px;
        padding-top: 30px;
        justify-items: center;
        width: auto;
    }
    #man-snow_box {
        margin: auto;
        margin-bottom: -120px;
        order: -1;
        z-index: 1;
    }
    .hero_image {
        background-image: url("../images/heroflower620_2x.jpg");
    }
    #social-link {
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
    }
    #social-link h3 {
        margin: auto;
        margin-bottom: 10px;
    }
    #contact-us {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .hero_subheading {
        display: none;
    }
    .hero_heading {
        font-size: 1.7em;
    }
}

@media (max-width: 434px) {
    .gallery-card_image {
        width: 250px;
    }
    #man-snow_img {
        max-width: 200px;
    }
    .gallery p {
        padding: 10px;
        font-size: 1.2em;
    }
    .social-link_icons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #vintage-team_heading {
        margin: 5px;
    }
    #vintage-team {
        max-width: 80%;
    }
    .overlay {
        font-size: 1em;
    }
}

@media (max-width: 320px) {
    .vintage-team_card {
        max-width: 150px;
    }
}